body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    /* margin: 10px; */
    padding: 40%;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding: 3%;
}
 
.main {
    /* padding: 0px 10px; */
    
    margin: 10px;
    padding: 2%;
    margin-top: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 25%; 
    }

    .sidenav{
        margin-top: 55px;
        width: 25%;
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
    }
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}