{% extends "admin_base.html" %}
{% block content %}
<h1 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Agent Dashboard</h1>
<br><br>
    <div style="display: flex; justify-content: space-between;">
        <table class="table table-dark table-striped" style="width: 47%;">
            <thead style="font-size: x-large;">
                <tr>
                    <th scope="col">Agents</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>for_sale</td>
                    <td>for_sale_count</td>
                </tr>
                <tr>
                    <td>for_rent</td>
                    <td>for_rent_count</td>
                </tr>
                <tr>
                    <td>sold</td>
                    <td>sold_count</td>
                </tr>
                <tr>
                    <td>on_lease</td>
                    <td>on_lease_count</td>
                </tr> -->
            </tbody>
        </table>


        <table class="table table-dark table-striped" style="width: 47%;">
            <thead style="font-size: x-large;">
                <tr>
                    <th scope="col">All Properties</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>for_sale</td>
                    <td>for_sale_count</td>
                </tr>
                <tr>
                    <td>for_rent</td>
                    <td>for_rent_count</td>
                </tr>
                <tr>
                    <td>sold</td>
                    <td>sold_count</td>
                </tr>
                <tr>
                    <td>on_lease</td>
                    <td>on_lease_count</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>

    <div style="display: flex; justify-content: space-between;">
        <table class="table table-dark table-striped" style="width: 47%;">
            <thead style="font-size: x-large;">
                <tr>
                    <th scope="col">Buy-Sell Transactions</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>_amount_</td>
                </tr>
            </tbody>
        </table>


        <table class="table table-dark table-striped" style="width: 47%;">
            <thead style="font-size: x-large;">
                <tr>
                    <th scope="col">Rent Transactions</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>_amount_</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>

    <div style="display: flex; justify-content: space-between;">
        <table class="table table-dark table-striped" style="width: 30%;">
            <thead style="font-size: large;">
                <tr>
                    <th scope="col">Owners Associated</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Amount</td>
                    <td>_amount_</td>
                </tr> -->
            </tbody>
        </table>

        <table class="table table-dark table-striped" style="width: 30%;">
            <thead style="font-size: large;">
                <tr>
                    <th scope="col">Buyers Associated</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Amount</td>
                    <td>_amount_</td>
                </tr> -->
            </tbody>
        </table>

        <table class="table table-dark table-striped" style="width: 30%;">
            <thead style="font-size: large;">
                <tr>
                    <th scope="col">Tenants Associated</th>
                    <th scope="col">count</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Amount</td>
                    <td>_amount_</td>
                </tr> -->
            </tbody>
        </table>
    </div>

{% endblock content %}

    