{% extends "property_base.html" %}
{% block sidenav %}
    <h1 class="text-white">Administrator</h1>
{% endblock sidenav %}
{% block content %}
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
        property_id
        </div>
        <div class="card-body text-white bg-dark mb-3">
            <h5 class="card-title">Price</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">detail 1</li>
                <li class="list-group-item bg-dark">detail 2</li>
                <li class="list-group-item bg-dark">detail 3</li>
            </ul>
        </div>
    </div>
{% endblock content %}