{% extends "agent_base.html" %}
{% block sidenav %}
    <div class="card" style="width: 20rem; margin: 10px;">
        <div class="card-body">
            <h5 class="card-title">agent id</h5>
            <h6 class="card-subtitle mb-2 text-muted">agent name</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">detail 1</li>
                <li class="list-group-item">detail 2</li>
                <li class="list-group-item">detail 3</li>
            </ul>
        </div>
    </div>
    <!-- <div style="margin: 10px;  position: absolute; left: 25%; margin: 10px;"> -->
        <button type="button" class="btn btn-dark" style="width: 20rem; margin: 10px;">Add Property</button>
        <button type="button" class="btn btn-dark" style="width: 20rem; margin: 10px;">All Properties</button>
        <button type="button" class="btn btn-dark" style="width: 20rem; margin: 10px;">My Commissions</button>
    <!-- </div> -->
{% endblock sidenav %}
{% block content %}
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
        property_id
        </div>
        <div class="card-body text-white bg-dark mb-3">
            <h5 class="card-title">Price</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">detail 1</li>
                <li class="list-group-item bg-dark">detail 2</li>
                <li class="list-group-item bg-dark">detail 3</li>
            </ul>
        </div>
    </div>
{% endblock content %}