{% extends "agent_base.html" %}
{% block content %}

<br>
<div class="row mx=3px">
	<div class="col mx=3px">
		<div class="card card-body">

		  <form method="GET">
				{{bsellfilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<h1>Buy Sell Transactions</h1>
<br>


<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Transaction_Id</th>
            <th scope="col">Date</th>
            <th scope="col">Property_id</th>
            <th scope="col">Buyer_id</th>
            <th scope="col">Owner_id</th> 
            <th scope="col">Amount</th> 
            

        </tr>
    </thead>
    <tbody>
        {% for transaction in buy_sell_transactions %}
            <tr>
                <td>{{ transaction.tsnc_id }}</td>
                <td>{{ transaction.date }}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'view_property' transaction.property.property_id %}">{{ transaction.property}}</a></td>
                <td>{{ transaction.buyer }}</td>
                <td>{{ transaction.owner }}</td>
                <td>{{ transaction.property.amount }}</td>
                                 
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>




{% endblock content %}